-------------------------------------------------------------------------
                    start part-1 Python
in vscode:-
first creat folder(eg:python_vs_project) next
load vs code and open the folder (file poen folder) and creat select command prompt next
creat virtualenv:eg(virtualenv broenv) next cd broenv and cd Scripts next 
activate(not ct activate only type activate) then ((broenv) C:\Users\Lenovo\Desktop\python_vs_project\broenv\Scripts>)
virtual envolment for deactivate type deactivate
then,   pip install django (install django)  and next creat project
django-admin startproject hello_djangoProject and enternd into project 
cd hello_djangoProject ,next
python manage.py runserver and crate a app-- django-admin startapp hello_app
then register in settings in install app--- 'hello_app',
and set ural in main url--- path('hello/',views.hello) and import this..
from django.contrib import admin
from django.urls import path
--------
in hello_app views
from django.shortcuts import render
from django.http import HttpResponse

# Create your views here.
def hello(request):
    return HttpResponse('hello world')
-----------
from hello_app import views and--   python manage.py runserver   (for run server)
and copy this sit address--   http://127.0.0.1:8000/     and copy in crom and 
http://127.0.0.1:8000/hello      and enter disply hello world


<!DOCTYPE html>
<h3>welcome</h3>
{% for i in products %}
<img src={{i.img.url}} style="width:50%;heiht:200px"><br>
<!--<a href="/shop/{{i.id}}">{{i.name}}</a>-->
<a href="{% url 'myapp:detail' i.id %}">{{i.name}}</a><br>
{{i.id}}<br>
{{i.desc}}<br>
{{i.price}}<br><br>
{% endfor %}
<li><a href="{% url 'myapp:home' %}">Home</a></li>
</body>
--------
in shop_app:-
from django.urls import path
from .import views
app_name='myapp'
urlpatterns = [
    path('',views.home,name='home'),
    path('shop/<int:shop_id>',views.detail,name='detail'),

]
-------
views.py:-
def detail(request,shop_id):
    print("ok..........")
    product=shop.objects.get(id=shop_id)
    print(product)
    return render(request, 'detail.html', {'products': product})
-------
detail.html:-
<img src={{products.img.url}} style="width:75%;heiht:300px"><br>
{{products.name}}<br>
{{products.price}}<br>
{{products.desc}}<br>
<li><a href="{% url 'myapp:home' %}">Home</a></li>
----------
in project url:-
        from django.contrib import admin
from django.urls import path,include
from django.conf.urls.static import static
from django.conf import settings


urlpatterns = [
    path('admin/', admin.site.urls),
    path('',include('shop_app.urls')),

]
  if settings.DEBUG:
    urlpatterns += static(settings.STATIC_URL,
                          document_root=settings.STATIC_ROOT)
    urlpatterns += static(settings.MEDIA_URL,
                          document_root=settings.MEDIA_ROOT)
 -----------------------or:-     
urlpatterns=urlpatterns+static(settings.MEDIA_URL,document_root=settings.MEDIA_ROOT)
--------------------------------
in settings media:-
STATIC_URL = 'static/'
STATICFILES_DIRS=[os.path.join(BASE_DIR,'static')]
STATIC_ROOT=os.path.join(BASE_DIR,'assets')
MEDIA_URL='/media/'
MEDIA_ROOT=os.path.join(BASE_DIR,'media')
-----------------------------------
in settings templates:-
'DIRS': [os.path.join(BASE_DIR,'templates')],
----------
message info:-
      inhtml:-
    {% for message in messages %}
      {{message}}
    {% endfor %}
      in vies:-
      messages.info(request,'invalid username or password')
      or
      messages.success(request,'Product update successfully')


-------------


                **end part-1****
--------------------------------------------------------------------------------------------------
      edit database file:-
      {% extends 'base.html' %}
{% block body %}

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2 class="fw-bold">Update Product</h2>
                </div>
                <div class="class-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" Required name="name" value="{{object.name}}" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <input type="text" Required name="desc" value="{{object.desc}}" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Price</label>
                            <input type="text" Required name="price" value="{{object.price}}" class="form-control">
                        </div>
                        <div class="mb-3">
                            {% if object.img %}
                            <img src="{{object.img.url}}" alt="image reboot" style="width:30px;height:30px;">
                            {% endif %}
                            <label class="form-label">Image</label>
                            <input type="file" name="img" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <li><a href="{% url 'myapp:home' %}">Home</a></li><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    {% for message in messages %}
        {{message}}
    {% endfor %}
{% endblock %}
---------------------------------
      url:-
          path('edit/<int:id>', views.edit, name='edit'),
----------------------------------
  import os
      views.py:-
        def edit(request,id):
    obj=shop.objects.get(id=id)
    if request.method == "POST":
        if len(request.FILES) !=0:
            if len(obj.img) >0:
                os.remove(obj.img.path)
            obj.img=request.FILES['img']
        obj.name = request.POST.get('name')
        obj.desc = request.POST.get('desc')
        obj.price = request.POST.get('price')
        obj.save()
        return redirect('/')
        messages.success(request,'Product update successfully')

    return render(request,'update.html',{'object':obj})

-------------------------------------------------------------------------------------------------------------
  for loop python vews and html with if funtion:-
      views:-
      from django.shortcuts import render
from django.http import HttpResponse
from django.shortcuts import render

# Create your views here.
def print_hello(request):
    movie_data={
        'movies' : [
        {
        'title':" movie filims",
        'year':1990,
        'sumery':"moneies for kid",
        'success':True
    },
    {
        'title':" movie filims2",
        'year':1991,
        'sumery':"moneies for kid",
        'success':False
    },
    {
        'title':" movie filims3",
        'year':1992,
        'sumery':"moneies for kid",
        'success':False
    },
    {
        'title':" movie filims3",
        'year':1993,
        'sumery':"moneies for kid",
        'success':True
    }
    ]}
    return render(request,'hello.html',movie_data)
    ------------------------
      html:-
            
{% for obj in movies %}
<h1>title:{{obj.title}}</h1>
<p>year:{{obj.year}}</p>
<p>sumery:{{obj.sumery}}</p>  

{% if obj.success %}
<h1>Succcesss........</h1>
{% else %}
<p>not sucess......</p>
{% endif %}
{% endfor %}
 if statement 2:-
  views.py:-
  def index(request):
    number={
        'num1': 0,
    }
    return render(request,'index.html',number)
  in index.html:-
          {% if num1 < 0 %}
        <h3>{{num1}}number is negetive </h3>
        {% elif num1 > 0 %}
        <h3>{{num1}}number is positive </h3>
        {% else %}
        <h3>{{num1}}number is zeero </h3>
        {% endif %}


-----------------------------------------------------------------------------------------------------------------------
fountions:-
def hey(name,frm):
    print('my name is',name,frm)
name='nigil'
hey(name,'from malappuram')
---------------------------------
fountion arbetry argiment:-
def hello(*values):
    print('name:'+values[0])
    print('age:'+values[1])
    print('place',values[2])
hello('rajan',20,'malappuram')
//no edit and no add
--------------------------------
fountion value argiment pass method:-
def sample(name,age=10):
    print(name,age)

sample(age=33,name='mohan')
or method:-
def sample(name,age=10):
    print(name,age)

sample(name='mohan')
----------------
funtion retun value:-
def sum(num1,num2):
    tot=num1+num2
    return tot
result=sum(10,20)
print('total:',result)
-------------------------------------
dictionary:-(jsn key)
value={"name":"sasi",'place':'malappuran'}
print(value)
print(value.get('name'))
print((value.get('place')))
-----------------------------------------------------------------------------------------
url in projrct:-
from django.conf import settings
from django.conf.urls.static import static
from django.contrib import admin
from django.urls import path,include
from todo_app import views

urlpatterns = [
    path('admin/', admin.site.urls),
    path('', include('todo_app.urls')),

]
if settings.DEBUG:
    urlpatterns += static(settings.STATIC_URL,
                          document_root=settings.STATIC_ROOT)
    urlpatterns += static(settings.MEDIA_URL,
                          document_root=settings.MEDIA_ROOT)
-----------------------------
  media settings in project settings:-
  STATIC_URL = 'static/'
STATICFILES_DIRS=[os.path.join(BASE_DIR,'static')]
STATIC_ROOT=os.path.join(BASE_DIR,'assets')
MEDIA_URL='/media/'
MEDIA_ROOT=os.path.join(BASE_DIR,'media')
---------------------------------
database setting in project settins:-(mysql---in---xxamp)
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME':'tododatabase',
        'USER':'root',
        'PASSWORD':'',
        'HOST':'localhost',
    }

---------------------------------------------------------------------------------------------------------
Generic views:-
in app url:-
    path('ctask/',views.task_listview.as_view(),name='ctask'),
in app views:-
class task_listview(ListView):
    model=shop
    template_name='home.html'
    context_object_name='obj'
in home.html:-
            <div class="col-sm-6">
                {% for i in obj %}
                <div class="p-3 shadow">
                    <div class="form-group">
                        <p>Name:{{i.id}}{{i.name}}<img src="{{i.img.url}}"  style="height:30px;width:30px text-align: right;"></p>
                    </div>
                     <div class="form-group">
                        <p>Description:{{i.desc}}</p>
                    </div>
                     <div class="form-group">
                        <p>price:{{i.price}}</p>
                    </div>
                     <div class="form-group">
                        <p>Date:{{i.date}}</p>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-danger" href="{% url 'delete' i.id %}">delete</a>
                        <a class="btn btn-success" href="{% url 'update' i.id %}">update</a>
                        <a class="btn btn-success" href="{% url 'ctask' %}">Gviews</a>
                        <a class="btn btn-success" href="{% url 'dtask' i.id %}">Detail</a>

                    </div>
                </div>
                {% endfor %}
            </div>
-----------------------------
Generic update(cheked ok):-
in app url:-
    path('utask/<int:pk>/', views.task_update.as_view(), name='utask'), //dont change pk (its constant)
views.py:-
from django.views.generic.edit import UpdateView
from django.urls import reverse_lazy

class task_update(UpdateView):
    model=shop
    template_name='update.html'
    context_object_name='task'
    fields=('name','desc','price','img','date')
    def get_success_url(self):
        return reverse_lazy('utask',kwargs={'pk':self.object.id})
update.html:-
{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="crat-tittle">cart update</h5>
    </div>
    <div class="cart-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">update</button>
            <a class="btn btn-success" href="{% url 'home' %}">Home</a>
        </form>
    </div>
</div>
{% endblock %}
------------------------------
Genericdelete:-
  paa urls:-
    path('detask/<int:pk>/', views.task_delete.as_view(), name='detask'), //(pk keyword is consant)
      views.py:-  
      class task_delete(DeleteView):
    model=shop
    template_name='delete.html'
    context_object_name='task'
    def get_success_url(self):
        # return reverse_lazy('home',kwargs={'pk':self.object.id})
        return reverse_lazy('home') //home is in url name='home'
delete.html:-
{% extends 'base.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Do you want delete this...?</p>
    <button type="submit">Conform</button>
</form>
     {% for message in messages %}
     <p>{{message}}</p>
     {% endfor %}

{% endblock %}
----------------------------------------------------------------------------------------
  dictionary list funtions:-(brototype vedios "part-3 how to write HTML and create movie list i  Django)
   in viewa.py:-
      from django.shortcuts import render
from django.http import HttpResponse
from django.shortcuts import render


# Create your views here.
def print_hello(request):
    movie_data={
        'moves':[
        {
        'title':'God Father',
        'year':1994,
        
        'success':False },
        {
        'title':'clonning batchler',
        'year':1996,
        'sumary':'momooty filim',
        'success':False },
        {
        'title':'Kaboolivala',
        'year':1998,
        'sumary':'commady filim',
        'success':True },
        {
        'title':'Vadakkan veeraghada',
        'year':1992,
        'sumary':'mammooty filim',
        'success':True },
        {
        'title':'kireedam',
        'year':1992,
        'sumary':'Lal filim',
        'success':True },
                ]
    }
    return render(request,'hello.html',movie_data)
    --------------------------------------------
  in html:-
    {% for obj in moves %}
<h1>Filim Name:{{obj.title}}</h1>
<h2>year:{{obj.year}}</h2>
<h3>sumary:{{obj.sumary | default:'no data available'}}</h3>
{% if obj.success %}
<p>success</p>
{% else %}
<p>not sccsess</p>
{% endif %}
{%endfor%}
------------------------------------------------
 sleg setup in admin panal:-
  categery:-
  in models.py:-
      from django.db import models
      from django.template.defaultfilters import slugify

      # Create your models here.
      class categ(models.Model):
      name=models.CharField(max_length=200,unique=True)
      slug=models.SlugField(max_length=200,unique=True)
    in admi.py:-
      from django.contrib import admin
      from . models import *
      # Register your models here.
      class catadmin(admin.ModelAdmin)://this register to admin panal
      prepopulated_fields={'slug':('name',)} //this slug passing
      admin.site.register(categ,catadmin) //this register to admin panal
------------------------------------------------------------
admin panal setup:-
------------------
from django.db import models
from django.template.defaultfilters import slugify

      in models.py:-
      ------------
# Create your models here.
class categ(models.Model):
    name=models.CharField(max_length=200,unique=True)
    slug=models.SlugField(max_length=200,unique=True)
    
    class meta:
        ordering=('name',)
        verbose_name='categery'
        verbose_name_plural='categeries'
    def __str__(self):
        return '{}'.format(self.name)//name varaan
    
class product(models.Model):
    name=models.CharField(max_length=200,unique=True)
    slug=models.SlugField(max_length=200,unique=True)
    img=models.ImageField(upload_to='product')
    desc=models.TextField()
    stock=models.IntegerField()
    price=models.IntegerField()
    available=models.BooleanField(default=True)
    categery=models.ForeignKey(categ,on_delete=models.CASCADE)
    creat_date=models.DateTimeField(auto_now=True)
    rem1=models.TextField()
    ren2=models.TextField()
    
    def __str__(self):
        return '{}'.format(self.name)
---------------------
in admin.py
from django.contrib import admin
from . models import *
# Register your models here.
class catadmin(admin.ModelAdmin):
    prepopulated_fields={'slug':('name',)}
admin.site.register(categ,catadmin)

class prodadmin(admin.ModelAdmin):
     prepopulated_fields={'slug':('name',)}
admin.site.register(product,prodadmin)
--------------------------------------------------------------------------
trungate words and characters:-
 <p>Desc:{{i.desc|truncatewords:2}}</p> or <p>Desc:{{i.desc|truncatechars:20}}</p> //only 20 charecters disply
------------------------------------------------------------------------------
fof python shell:-
>python manage.py shell
 >from moves_app.models import moveInfo // moveInfo is db name
  >moveInfo.objects.all()   //take all object
>moveInfo.objets.get(id=1)   //take one object // id or pk u can use


      
    





      






