-------------------------------------------------------------------------
                    start part-1
<!DOCTYPE html>
<h3>welcome</h3>
{% for i in products %}
<img src={{i.img.url}} style="width:50%;heiht:200px"><br>
<!--<a href="/shop/{{i.id}}">{{i.name}}</a>-->
<a href="{% url 'myapp:detail' i.id %}">{{i.name}}</a><br>
{{i.id}}<br>
{{i.desc}}<br>
{{i.price}}<br><br>
{% endfor %}
<li><a href="{% url 'myapp:home' %}">Home</a></li>
</body>
--------
in shop_app:-
from django.urls import path
from .import views
app_name='myapp'
urlpatterns = [
    path('',views.home,name='home'),
    path('shop/<int:shop_id>',views.detail,name='detail'),

]
-------
views.py:-
def detail(request,shop_id):
    print("ok..........")
    product=shop.objects.get(id=shop_id)
    print(product)
    return render(request, 'detail.html', {'products': product})
-------
detail.html:-
<img src={{products.img.url}} style="width:75%;heiht:300px"><br>
{{products.name}}<br>
{{products.price}}<br>
{{products.desc}}<br>
<li><a href="{% url 'myapp:home' %}">Home</a></li>
----------
in project url:-
        from django.contrib import admin
from django.urls import path,include
from django.conf.urls.static import static
from django.conf import settings


urlpatterns = [
    path('admin/', admin.site.urls),
    path('',include('shop_app.urls')),

]
urlpatterns=urlpatterns+static(settings.MEDIA_URL,document_root=settings.MEDIA_ROOT)
---------------
in settings media:-
        STATIC_URL = 'static/'
STATICFILES_DIRS:[
    os.path.join(BASE_DIR,'static')
]
STATIC_ROOT=os.path.join(BASE_DIR,'assets')

MEDIA_URL='/media/'
MEDIA_ROOT=os.path.join(BASE_DIR,'media')
---------
in settings templates:-
'DIRS': [os.path.join(BASE_DIR,'templates')],
----------
message info:-
      inhtml:-
    {% for message in messages %}
      {{message}}
    {% endfor %}
      in vies:-
      messages.info(request,'invalid username or password')
-------------


                **end part-1****
--------------------------------------------------------------------------------------------------
      edit database file:-
      {% extends 'base.html' %}
{% block body %}

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2 class="fw-bold">Update Product</h2>
                </div>
                <div class="class-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" Required name="name" value="{{object.name}}" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <input type="text" Required name="desc" value="{{object.desc}}" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Price</label>
                            <input type="text" Required name="price" value="{{object.price}}" class="form-control">
                        </div>
                        <div class="mb-3">
                            {% if object.img %}
                            <img src="{{object.img.url}}" alt="image reboot" style="width:30px;height:30px;">
                            {% endif %}
                            <label class="form-label">Image</label>
                            <input type="file" name="img" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <li><a href="{% url 'myapp:home' %}">Home</a></li><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    {% for message in messages %}
        {{message}}
    {% endfor %}
{% endblock %}
---------------------------------
      url:-
          path('edit/<int:id>', views.edit, name='edit'),
----------------------------------
  import os
      views.py:-
        def edit(request,id):
    obj=shop.objects.get(id=id)
    if request.method == "POST":
        if len(request.FILES) !=0:
            if len(obj.img) >0:
                os.remove(obj.img.path)
            obj.img=request.FILES['img']
        obj.name = request.POST.get('name')
        obj.desc = request.POST.get('desc')
        obj.price = request.POST.get('price')
        obj.save()
        return redirect('/')
        messages.success(request,'Product update successfully')

    return render(request,'update.html',{'object':obj})

-------------------------------------------------------------------------------------------------------------




      






