-------------------------------------------------------------------------
                    start part-1 Python
in vscode:-
first creat folder(eg:python_vs_project) next
load vs code and open the folder (file poen folder) and creat select command prompt next
creat virtualenv:eg(virtualenv broenv) next cd broenv and cd Scripts next 
activate(not ct activate only type activate) then ((broenv) C:\Users\Lenovo\Desktop\python_vs_project\broenv\Scripts>)
virtual envolment for deactivate type deactivate
then,   pip install django (install django)  and next creat project
django-admin startproject hello_djangoProject and enternd into project 
cd hello_djangoProject ,next
python manage.py runserver and crate a app-- django-admin startapp hello_app
then register in settings in install app--- 'hello_app',
and set ural in main url--- path('hello/',views.hello) and import this..
from django.contrib import admin
from django.urls import path
--------
in hello_app views
from django.shortcuts import render
from django.http import HttpResponse

# Create your views here.
def hello(request):
    return HttpResponse('hello world')
-----------
from hello_app import views and--   python manage.py runserver   (for run server)
and copy this sit address--   http://127.0.0.1:8000/     and copy in crom and 
http://127.0.0.1:8000/hello      and enter disply hello world









<!DOCTYPE html>
<h3>welcome</h3>
{% for i in products %}
<img src={{i.img.url}} style="width:50%;heiht:200px"><br>
<!--<a href="/shop/{{i.id}}">{{i.name}}</a>-->
<a href="{% url 'myapp:detail' i.id %}">{{i.name}}</a><br>
{{i.id}}<br>
{{i.desc}}<br>
{{i.price}}<br><br>
{% endfor %}
<li><a href="{% url 'myapp:home' %}">Home</a></li>
</body>
--------
in shop_app:-
from django.urls import path
from .import views
app_name='myapp'
urlpatterns = [
    path('',views.home,name='home'),
    path('shop/<int:shop_id>',views.detail,name='detail'),

]
-------
views.py:-
def detail(request,shop_id):
    print("ok..........")
    product=shop.objects.get(id=shop_id)
    print(product)
    return render(request, 'detail.html', {'products': product})
-------
detail.html:-
<img src={{products.img.url}} style="width:75%;heiht:300px"><br>
{{products.name}}<br>
{{products.price}}<br>
{{products.desc}}<br>
<li><a href="{% url 'myapp:home' %}">Home</a></li>
----------
in project url:-
        from django.contrib import admin
from django.urls import path,include
from django.conf.urls.static import static
from django.conf import settings


urlpatterns = [
    path('admin/', admin.site.urls),
    path('',include('shop_app.urls')),

]
urlpatterns=urlpatterns+static(settings.MEDIA_URL,document_root=settings.MEDIA_ROOT)
---------------
in settings media:-
        STATIC_URL = 'static/'
STATICFILES_DIRS:[
    os.path.join(BASE_DIR,'static')
]
STATIC_ROOT=os.path.join(BASE_DIR,'assets')

MEDIA_URL='/media/'
MEDIA_ROOT=os.path.join(BASE_DIR,'media')
---------
in settings templates:-
'DIRS': [os.path.join(BASE_DIR,'templates')],
----------
message info:-
      inhtml:-
    {% for message in messages %}
      {{message}}
    {% endfor %}
      in vies:-
      messages.info(request,'invalid username or password')
      or
      messages.success(request,'Product update successfully')


-------------


                **end part-1****
--------------------------------------------------------------------------------------------------
      edit database file:-
      {% extends 'base.html' %}
{% block body %}

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2 class="fw-bold">Update Product</h2>
                </div>
                <div class="class-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" Required name="name" value="{{object.name}}" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <input type="text" Required name="desc" value="{{object.desc}}" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Price</label>
                            <input type="text" Required name="price" value="{{object.price}}" class="form-control">
                        </div>
                        <div class="mb-3">
                            {% if object.img %}
                            <img src="{{object.img.url}}" alt="image reboot" style="width:30px;height:30px;">
                            {% endif %}
                            <label class="form-label">Image</label>
                            <input type="file" name="img" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <li><a href="{% url 'myapp:home' %}">Home</a></li><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    {% for message in messages %}
        {{message}}
    {% endfor %}
{% endblock %}
---------------------------------
      url:-
          path('edit/<int:id>', views.edit, name='edit'),
----------------------------------
  import os
      views.py:-
        def edit(request,id):
    obj=shop.objects.get(id=id)
    if request.method == "POST":
        if len(request.FILES) !=0:
            if len(obj.img) >0:
                os.remove(obj.img.path)
            obj.img=request.FILES['img']
        obj.name = request.POST.get('name')
        obj.desc = request.POST.get('desc')
        obj.price = request.POST.get('price')
        obj.save()
        return redirect('/')
        messages.success(request,'Product update successfully')

    return render(request,'update.html',{'object':obj})

-------------------------------------------------------------------------------------------------------------
  for loop python vews and html with if funtion:-
      views:-
      from django.shortcuts import render
from django.http import HttpResponse
from django.shortcuts import render

# Create your views here.
def print_hello(request):
    movie_data={
        'movies' : [
        {
        'title':" movie filims",
        'year':1990,
        'sumery':"moneies for kid",
        'success':True
    },
    {
        'title':" movie filims2",
        'year':1991,
        'sumery':"moneies for kid",
        'success':False
    },
    {
        'title':" movie filims3",
        'year':1992,
        'sumery':"moneies for kid",
        'success':False
    },
    {
        'title':" movie filims3",
        'year':1993,
        'sumery':"moneies for kid",
        'success':True
    }
    ]}
    return render(request,'hello.html',movie_data)
    ------------------------
      html:-
            
{% for obj in movies %}
<h1>title:{{obj.title}}</h1>
<p>year:{{obj.year}}</p>
<p>sumery:{{obj.sumery}}</p>  

{% if obj.success %}
<h1>Succcesss........</h1>
{% else %}
<p>not sucess......</p>
{% endif %}
{% endfor %}
-----------------------------------------------------------------------------------------------------------------------
fountions:-
def hey(name,frm):
    print('my name is',name,frm)
name='nigil'
hey(name,'from malappuram')
---------------------------------
fountion arbetry argiment:-
def hello(*values):
    print('name:'+values[0])
    print('age:'+values[1])
    print('place',values[2])
hello('rajan',20,'malappuram')
//no edit and no add
--------------------------------
fountion value argiment pass method:-
def sample(name,age=10):
    print(name,age)

sample(age=33,name='mohan')
or method:-
def sample(name,age=10):
    print(name,age)

sample(name='mohan')
----------------
funtion retun value:-
def sum(num1,num2):
    tot=num1+num2
    return tot
result=sum(10,20)
print('total:',result)
-------------------------------------
dictionary:-(jsn key)
value={"name":"sasi",'place':'malappuran'}
print(value)
print(value.get('name'))
print((value.get('place')))
-----------------------------------------------------------------------------------------
url in projrct:-
from django.conf import settings
from django.conf.urls.static import static
from django.contrib import admin
from django.urls import path,include
from todo_app import views

urlpatterns = [
    path('admin/', admin.site.urls),
    path('', include('todo_app.urls')),

]
if settings.DEBUG:
    urlpatterns += static(settings.STATIC_URL,
                          document_root=settings.STATIC_ROOT)
    urlpatterns += static(settings.MEDIA_URL,
                          document_root=settings.MEDIA_ROOT)
-----------------------------
  media settings in project settings:-
  STATIC_URL = 'static/'
STATICFILES_DIRS=[os.path.join(BASE_DIR,'static')]
STATIC_ROOT=os.path.join(BASE_DIR,'assets')
MEDIA_URL='/media/'
MEDIA_ROOT=os.path.join(BASE_DIR,'media')
---------------------------------
database setting in project settins:-(mysql---in---xxamp)
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME':'tododatabase',
        'USER':'root',
        'PASSWORD':'',
        'HOST':'localhost',
    }

---------------------------------------------------------------------------------------------------------



      






